{% extends 'homebase.html.twig' %}

    {% block title %} Dentist Appointment Website {% endblock %}
    {% block deneme %} <h1> bu bir text </h1> {% endblock %}
    {% block slider %} {% include 'home/slider.html.twig'%} {% endblock %}
    {% block hero %} {% include 'home/hero.html.twig'%} {% endblock %}
    {% block appointment %} {% include 'home/appointment.html.twig'%} {% endblock %}

