{% extends 'adminbase.html.twig' %}

{% block title %}Category
{% endblock %}


{% block sidebar %}
	{% include 'admin/home/sidebar.html.twig'%}
{% endblock %}
{% block footer %}
	{% include 'admin/home/footer.html.twig'%}
{% endblock %}
{% block body %}  <div class="body flex-grow-1 px-3">
        <div class="container-lg">selam
        </div>
      </div>
      {% endblock %}
